body {
    margin: 0;
    padding: 0;
  background-color: #181a35; 
  background-position: left top;
  background-repeat: no-repeat;
  background: linear-gradient(to top, #181a35f8,#181a3581, #181a3581), url('../Image/bg_section.jpg') repeat, center; 
    color: #cbe3ffbf;
    font-family: 'Titiillium Web', sans-serif;
}

  .header {
  font-family:  'Titiillium Web', sans-serif;
}
@font-face {
    font-family: 'Titiillium Web';
    src: url(../Font/TitilliumWeb-Regular.ttf);
    font-weight:normal;
font-style: normal;
}
@font-face {
    font-family:"Cinzel" ;
    src: url(../Font/Cinzel-VariableFont_wght.ttf);
    font-weight:normal;
    font-style: normal;
    
}
@font-face {
    font-family:"Alegreya" ;
    src: url(../Font/Alegreya-Bold.ttf);
    font-weight:normal;
    font-style: normal;   
}

strong{
    color:#e0efffbf;
}
.body h2, .section h2{
    color: #ff7a20;
    text-shadow: #ff0000 0em 0em 1.3em;
    font-family:  'Alegreya', sans-serif;
text-align: left;
margin-left: 10%;
font-size: 2em;
}

p{
    font-size: 18px;
}
@media screen and (max-width: 780px) {
    p{
        font-size: 15px;        
    }

    .body h2, .section h2{
        color: #ff7a20;
        text-shadow: #ff0000 0em 0em 1.3em;
        font-family:  'Alegreya', sans-serif;
    text-align: left;
    margin-left: 10%;
    font-size: 24px;
    }
}

.header {
    padding: 1.5em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#181a35ad, #1a1a1be9, #181a35ad);
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: .1em;
    z-index: 100;
    transition: background-color 0.3s ease; 
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header .logo {
margin-top: .5%;
}

@media screen and (max-width: 780px) {

  .hero .hero-text .image{
width: 350px;
  }
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 4em;
}

.navbar ul li a {
    text-decoration: none;
    color: #d7eaffbf;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: 3px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #91b2ff;
    text-shadow: rgb(255, 255, 255) 0rem 0rem 2rem;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown .dropdown-content {
    display: none;
    position: absolute;
    text-overflow: clip;
    background-color: #1f1f1f4e;
    z-index: -1;
    margin-top: 0.5%;
    padding: .7rem;
    margin-top: 13px;
    background: linear-gradient(to bottom, #1a1a1bc5, #1a1a1bc5);
   border-bottom-left-radius: 3%;
   border-bottom-right-radius: 3%;
    width: 200px;
    font-family:  'Titiillium Web', sans-serif;
    font-weight: 400;
   
}

.dropdown.active .dropdown-content {
    display: block;
}
.navbar .dropdown-content a {
    color: #dfeeffbf;
    text-decoration: none;
    font-size: 12\px;
    letter-spacing: 1px;
}
.navbar .dropdown-content a:after {
    content: '';
    width: 0; height: 2px;
    display: block;
    margin-top: 2px;
    transition: width .2s ease;
  }

.socials{
    display: flex;
    gap: 1em;

}

.socials-mobile {
    display: flex;
    gap: 1em;
    font-size: large;
    justify-content: center;
    background: linear-gradient(to right,#181a35ad, #1a1a1be9, #181a35ad);
}
.social-link {
    color: #4d4d4d38;
    font-size: 0.5rem;
}


.socialsEnd h2{
    color: white;
}

.socialsEnd .social-link {
    color: white;
    padding: 0.3em 0.4em; 
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%; 
    width: 30px;  
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    text-decoration: none; 
}

.hero {
    background: url('../Image/bg.jpg') no-repeat center center/cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 2em;
    position: relative;
  
}
.hero-small {
    background: url('../Image/bg.jpg') no-repeat center center/cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 2em;
    position: relative;
  
}
.hero-empty {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 2em;
    position: relative;
  
}
.info{
    height: 10px;
    position: relative;
}

@media screen and (max-width: 780px) {

    .hero {
        height: 60vh;
    }
    .hero-small {height: 34vh;}
    .hero-empty {height: 34vh;}
  }
.hero::before, .hero-small::before, .hero-empty::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    background: linear-gradient(to top, #181a35,#181a3508, #181a3500);
}

.hero-text {
    z-index: 2;
}
.hero-small-text {
    z-index: 2;
}
.hero h2 {
    font-size: 5rem;
    margin-bottom: 2em;    
    font-family:  'Cinzel', sans-serif;
}
.hero-small h2 {
    font-size: 4rem;
    margin-bottom: 2em;    
    font-family:  'Alegreya', sans-serif; 
}

.section {
    padding: 6em 2em;
    position: relative;

}
@media screen and (max-width: 780px) {
.section {
    padding: 3em 1em;
   
   
}

.info{
    height:15VH ;
    position: relative;
}}


.about, .unity,.contact,.games, .products, .updates, .careers, .reviews{
    text-align: center;
}

.about, .unity,.contact,.members, .info {
    background: linear-gradient(to top,#181a3500, #181a3500,#181a35);
}

.connect h2{
display:flex;
justify-content: center;
margin-right: 10%;
font-size: 2em;
font-weight: 400;
color: white;
text-shadow: rgba(255, 255, 255, 0.178) 0em 0em 1em;
}

@media screen and (max-width: 780px) {
    .connect h2{
        font-size: 20px;
       
    
    }}

.socialsEnd{
    display:flex;
    gap: 1.3em;
    justify-content: center;
}

.about .about-content, .games-gallery, .products-gallery {
    display: flex;
    justify-content: start;
    gap: 2em;
    flex-wrap: wrap;
    margin-left: 10%;
}


    
.unity .about-content, .contact .about-content{
    display: flex;
    justify-content: start;
    gap: 2em;
    flex-wrap: wrap;
}

 .about .about-content .text{
    flex: 1;
    max-width: 550px;
    text-align: start;
  text-justify: inter-word;
}


.unity .about-content .text, .contact .about-content .text{
    flex: 1;
   padding-left: 10%;
  max-width: 50%;
    text-align: justify;
  text-justify: inter-word;  
}

@media screen and (max-width: 780px) {
    .unity .about-content, .contact .about-content{
        display: block;
        justify-content: center;
       

    }
    
     .about .about-content .text{
        flex: 1;
        max-width: 320px;
        text-align: start;
      text-justify: inter-word;
    }
    .about .about-content img,  .unity .about-content img {
        width: 200px;
        margin-top : 3%;
        height: auto;
    }
    .unity .about-content .text, .contact .about-content .text{
        flex: 1;
        max-width: 320px;
        text-align: start;
      text-justify: inter-word;  
    }
}


.contact .about-content h3{
letter-spacing: 1px;
font-size: 15px;
}

.contact .about-content h4{
    letter-spacing: 2px;
    font-size: 15px;
    }

    .contact .about-content a{
        letter-spacing: 2px;
        font-size: 20px;
        color: #0099ff;
        font-weight: 400;
        text-decoration: none;
        font-family:  'Titiillium Web', sans-serif;
        }
        .about .about-content .image, .unity .about-content .image 
        {
            filter: drop-shadow(1px 10px 4px #05216d);
            margin-top: 3%;
         margin-left: 10%;
  
        }
        .mapouter{position:relative;text-align:right;width:350px;height:350px;}.gmap_canvas {overflow:hidden;background:none!important;width:350px;height:350px;}.gmap_iframe {width:350px!important;height:350px!important;}
        @media screen and (max-width: 780px) {
            .contact .about-content h3{
                letter-spacing: 1px;
                font-size: 13px;
                width: 300px;
                }
                
                .contact .about-content h4{
                    letter-spacing: 2px;
                    width: 350px;
                    font-size: 13px;
                    }
                
                    .contact .about-content a{
                        letter-spacing: 2px;
                        font-size: 15px;
                
             
                        }
                        
                        .contact .about-content .image {
                         margin-left: 10%;
                  
                        }
                        .mapouter{position:relative;text-align:right;width:275px;height:275px;}.gmap_canvas {overflow:hidden;background:none!important;width:275px;height:275px;}.gmap_iframe {width:275px!important;height:275px!important;}
   

        }

.about h2, .unity h2, .contact h2{
    margin-left: 0%;
}



.game-card, .product-card {
   
    max-width: 100%; 
    padding: 30px;
    text-align: start;
    flex: 0 0 100%; 
    box-sizing: border-box; 
   background: no-repeat center/cover;
}

.review-mobile-card {
   
    max-width: 100%; 
    padding: 30px;
    text-align: start;
    flex: 0 0 100%; 
    box-sizing: border-box; 
}


.game-card img, .product-card img {
    margin-top: 1%;
    margin-left:5%;
    max-width: 180px;
    border-radius: 10px;
    
  
}

.game-content, .product-content {
    margin-left: 5%;
    margin-top: 15px;
    
}
.game-card h3, .product-card h3, .review-mobile-card h3{
    font-size: 1.8rem;
    margin-bottom: 1em;
}
.game-card p, .product-card p, .review-mobile-card p {
  
    font-size: 1.1rem;
  width: 90%;

    margin-bottom: 1em;
    
}

.products-slider,.games-slider {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f9f9f900;
    border-radius: 10px;
    box-shadow: 0px 15px 30px -15px #cbe3ff4d;   
  
}


.reviews-mobile{
    display: none;
}

@media screen and (max-width: 780px) {
    

    .game-card h3, .product-card h3 ,.review-mobile-card h3 {
        font-size: 18px;
        margin-bottom: 1em;
    }
    .game-card p, .product-card p {
      
        font-size: 14px;
         width: 100%;
        margin-bottom: 50px;

    }

    .review-mobile-card p {
      
        font-size: 14px;
         width: 90%;
     
   
    }
    
    .products-slider,.games-slider, .review-mobile-slider {
        position: relative;
        max-width: 90%;
        margin: 0 auto;
        overflow: hidden;
        background-color: #f9f9f900;
        border-radius: 10px;
        box-shadow: 0px 15px 30px -15px #cbe3ff4d;   
      
    }

    button.prev,
button.next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #cbe3ffbf;
    border: none;
    border-radius: 50%;
    padding: 0.5em 0.6em;
    width: 50px;  
    height: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    z-index: 10;
    
}
button.prev {
    left: 16%;
    bottom: 1%;
}

button.next {
    right: 16%;
    bottom: 1%;
    }
}



.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

button.prev,
button.next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #cbe3ffbf;
    border: none;
    border-radius: 50%;
    padding: 0.5em 0.6em;
    width: 30px;  
    height: 30px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    z-index: 10;
    margin-top: -3.5%;
    margin-right:  1%;
}
button.prev {
    right: 26%;
}

button.next {
    right: 22%;
}


.review-slider {
    position: relative;
    max-width: 80%;
    align-items: center;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f9f9f900;
    border-radius: 10px;
}

button.prevReview,
button.nextReview {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #cbe3ffbf;
    border: none;
    border-radius: 50%;
    padding: 0.5em 0.6em;
    width: 30px;  
    height: 30px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    z-index: 10;
    margin-top: 60%;
    margin-right:  -11%;
}
button.prevReview {
    right: 20%;
}

button.nextReview {
    right: 12%;
}


.update-cards, .careers-cards {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 1.5em;
    padding: 2em 20px; 
    width: calc(100% - 60px); 
    margin: 0 auto; 
    align-items: center; 
   
}
.update-card, .careers-card{
    display: flex;
    align-items:start;
    background-color: #cbe3ff0a;
    width: 80%; 
    height: 100px;
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  
text-align: start;
}
.update-content:hover, .careers-content:hover {
    transform: translateX(+20px);   
 
}

.update-line, .careers-line{
   
    height: 100%;
    background-color: transparent;
    border-left: 5px solid #b7cadfbf;
    margin-right: 1em;
    transition: border-left 0.3s ease;
  

}
.update-card:hover .update-line, .careers-card:hover .careers-line{
    border-left: 5px solid #3d9bff;
    box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.8);
}
.update-content, .careers-content {
    color: #f3f9ffbf;
    width: 100%;
    transition: transform 0.5s ease;
}
.update-content i, .careers-content i{
 
  color:#cbe3ffbf;
}
.update-card h3, .careers-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}
.update-card p, .careers-card p {
    color: #cbe3ffbf;
    font-size: 16px;
    
}


@media screen and (max-width: 780px) {


    .update-card, .careers-card{
       
        width: 100%; 
        height: 125px;
    }

    .update-card h3, .careers-card h3 {
        font-size: 15px;
    }
    .update-card p, .careers-card p {
        font-size: 13px;
        
    }


}

footer {
    background-color: #0f1020;
    color: #cbe3ffbf;
    font-family: "Titiillium Web";
    text-align: center;
    padding: 2em;
    
}
footer p {
    font-size: 18px;
    color: #cbe3ffbf;
}

button, .cta-btn, .game-card a, .review-mobile-card a {
    background-color: #4971ce;
    border: none;
    color: #f0f7ffbf;
    padding: .6em 1em;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4%;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    text-decoration: none; 

}

button:hover, .cta-btn:hover, .game-card a:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 15px 5px #4971ce; 
    background-color:#4971ce; 
}

.social-link {
border:1px solid #4971ce;
background-color:#ffffff00;
    color: #fbfdffbf;
    padding: 0.3em 0.4em;  
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 100%; 
    width: 25px;  
    height: 25px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    text-decoration: none; 
}
.social-link:hover {
    border:1px solid #4971ce;
     background-color:#314a86a6; 
    box-shadow: 0 0 15px 5px #314a86a6, 0 0 0 1px #314a86a6 inset; 
    
}


@media screen and (max-width: 768px) {
    .game-card, .product-card {
        width: 100%;
        margin: 0 auto;
    }
}


.review-slider {
    display: flex;
    overflow: hidden;
    width:800px;
    height: 550px;
    justify-content: center;
    position: relative;

}

.review-cards {
    display: flex;
    padding: 10px;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}


.review-card {
    width: 250px;
    height: 430px;
    position: relative;
    perspective: 1000px;
}


.review-card-front{

    width: 100%;
    height: 100%;
    position: absolute; 
    backface-visibility: hidden;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-overflow:ellipsis;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to bottom, #1f315cc2, #314a86c2, #1f315cc2);
    transition: transform 0.5s ease;
    box-shadow: #cbe3ffbf ;
    text-indent: 1%;
  

}
.review-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(to bottom, #314a86cc, #1f315cbb, #314a86cc);
    transition: transform 0.5s ease;
}
.review-card-front h3{
    padding: 10px;
    inline-size: 200px;
    font-size: 17px;
    height: 40px;
    font-family:  'Alegreya', sans-serif;
    text-justify: distribute;
    color :#cbe3ffbf;
    text-shadow: #a9d1ffbf 0em 0em 1.3em;
    overflow: hidden;
}
.review-card-front p{
    font-size: 15px;
    inline-size: 200px;
    padding: 10px;
    margin-top: -10px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
text-align: start;
color:#cbe3ffbf
}

.block-cards {
    display: flex;
    width: 100%; 
    gap: 20px;
    justify-content: space-around;
}
.review-skill{
    width: 100px;
font-size:  18px;
text-align: start;
}

.review-stars, .members-stars-member {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 780px) {

    .reviews{display: none;}
    .reviews-mobile {display: block;}
    button.prevReview {
        left: 6%;
        top: 50%;
    }
    button.nextReview {
        right: 16%;
        top: 50%;
    }

    .review-slider {
        display: flex;
        overflow: hidden;
        width:800px;
        height: 550px;
        justify-content: center;
        position: relative;
    
    }
    .block-cards {
        display: flex;
        width: 100%; 
        gap: 5px;
   
    }
    
    .review-cards {
        gap: 10px;
    }
    
    
    .review-card {
        width: 450px;
        height: 430px;
    
    }
    
    
   
    .review-card-front h3{
        padding: 1px;
        inline-size: 150px;
        font-size: 18px;
   
    }
    .review-card-front p{
        font-size: 13px;
        inline-size: 150px;
    }
    .review-skill{
        width: 20px;
    font-size:  17px;
    text-align: start;
    }
    

   
    }

.review-card-back, .members-card-back{
    transform: rotateY(180deg);
    text-align: center;
    color: #cbe3ffbf;
}

.review-card , .members-card {
    transform-style: preserve-3d;
    transition: transform .4s ease-in;
}

.review-card:hover, .members-card:hover {
    transform: rotateY(180deg) translateY(-10px) translateX(-5px) rotateX(-10deg); 
}


.review-stars .star {
    width: 10px;
    height: 10px;
    background-color: #cccccc00; 
    border: 2px solid #3995ffbf;
    border-radius: 3px;
}
 .members-stars-member .star{
    width: 8px;
    height: 8px;
    background-color: #cccccc00; 
    border: 2px solid #3995ffbf;
    border-radius: 3px;
}


.members-stars-member{
    margin-top: -20px;
}
.review-stars[data-rating="1"] .star:nth-child(2),
.review-stars[data-rating="2"] .star:nth-child(-n+3),
.review-stars[data-rating="3"] .star:nth-child(-n+4),
.review-stars[data-rating="4"] .star:nth-child(-n+5),
.review-stars[data-rating="5"] .star:nth-child(-n+6) {
    background-color: #3995ffbf; 

}


.members-stars-member[data-rating-member="1"] .star:nth-child(-n+2),
.members-stars-member[data-rating-member="2"] .star:nth-child(-n+3),
.members-stars-member[data-rating-member="3"] .star:nth-child(-n+4),
.members-stars-member[data-rating-member="4"] .star:nth-child(-n+5),
.members-stars-member[data-rating-member="5"] .star:nth-child(-n+6),
.members-stars-member[data-rating-member="6"] .star:nth-child(-n+7),
.members-stars-member[data-rating-member="7"] .star:nth-child(-n+8),
.members-stars-member[data-rating-member="8"] .star:nth-child(-n+9),
.members-stars-member[data-rating-member="9"] .star:nth-child(-n+10),
.members-stars-member[data-rating-member="10"] .star:nth-child(-n+11){
    background-color: #3995ffbf; 

}

@media (max-width: 768px) {
    .review-card, .members-card {
        width: 200px;
        height: 350px;
    }
}


.members-card-back {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    backface-visibility: hidden;  
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-overflow:ellipsis;
    border-radius: 20px;
    background: linear-gradient(to bottom, #1f315cc2, #253a6bc2, #1a294dc2,#152241c2);
    transition: transform 0.5s ease;
    box-shadow: #cbe3ffbf ;
text-indent: 1%;
}

.members-card-front{
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    backface-visibility: hidden;  
      display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    text-overflow:ellipsis;
    border-radius: 20px;
    background: linear-gradient(to bottom, #1f315cc2, #253a6bc2, #1a294dc2,#152241c2);
    transition: transform 0.5s ease;
    box-shadow: #cbe3ffbf ;
    transform: rotateY(0deg);
text-indent: 1%;
}

.photo-gradient{
    width: 100%;
    height: 22vh;
    object-fit: cover;
    position: relative;
    background: linear-gradient(to bottom, #1f315ca2,#181a3500, #181a3500,#181a3500, #181a3500),
     linear-gradient(to top, #1f315c,#181a3500, #181a3500,#181a3500, #181a3500),
      linear-gradient(to right, #1f315ca2,#181a3500, #181a3500,#181a3500, #181a3500)
      , linear-gradient(to left, #1f315ca2,#181a3500, #181a3500,#181a3500, #181a3500)
     ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.members-card {

    height: 700px;
    width: 350px;
    position: relative;
    perspective: 1000px;

}

.members-photo {
    width: 100%;
    height: 22vh;
    object-fit: cover;
    position: relative;
z-index: -2;
margin-left: -4px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}


.members-name {
    z-index: 1;
    margin-top: -20px;
    color: #ffffffbf;
    font-family: 'Alegreya', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    width: 100%;
    
}

.members-role {
    font-size: 18px;
    color: #278fff;
   margin-top: -10px;
   text-align: center;
   width: 100%;
}

.members-text {
    font-size: 15px;
    font-weight: 500;
    color: #cbe3ffbf;
    padding: 7%;
    margin-top: -10px;
    height: 400px;
    overflow: hidden;
    text-align: start;
}

.members-skill-title{
width: 100%;
font-size:  14px;
text-align: start;
margin-left: 10%;
}
.members-skill-facts{
    width: 100%;
    font-size:  14px;
    text-align: start;
    margin-left: 10%;
    margin-top: -30px;
    }

.members-skill-name{
    width: 160px;
font-size:  14px;
text-align: start;
}

.members-about{
font-size: 18px;
width: 700px;
margin-left: 10%;
text-align: start;
}

.members-links {
 position: absolute;
 bottom: 30px;

    display: flex;
    gap: 10px;
}


.members-slider {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    padding: 10%;
}

#slider {
    margin: auto;
    align-content: center;
    position: relative;
    width: 100%;
    text-align: start;
    max-width: 1125px;
    overflow: hidden;
    height: 800px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img, .slides iframe {
    width: 100%;
    height: 608px;
    flex-shrink: 0;
    object-fit: fill;
}
.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.slider-controls button {
    background-color: rgba(0, 0, 0, 0.1);
    color: #cbe3ffbf;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100%;
    margin: 10px;
}


.dots {
    position: absolute;
margin-top: 10px;
    width: 100%;
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #cbe3ffbf;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #314a86;
}

.text-description{
    margin-left: 10%;
text-align: start;
font-size: 18px;
width: 80%;
}

@media (max-width: 780px) {

 
    .members-about{
        font-size: 15px;
        width: 80%;
        margin-left: 10%;
        text-align: start;
        }
    .text-description{
        padding-bottom: 10%;
        margin-left: 10%;
    text-align: start;
    font-size: 13px;
    width: 80%;
    }
    .hero h2 {
        font-size: 3rem;
    }

    .review-card {
        width: 220px;
        height: 300px;
    }

    #slider {
        max-width: 400px;
        overflow: hidden;
        height: 250px;
        margin-top: 10%;
    }
    

    .slides img{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        object-fit:fill;
    }
    .slides iframe {
        width: 400px;
        height: 250px;
    }

    .text-description{
        margin-left: 10%;
    text-align: start;
    font-size: 18px;
    width: 80%;
    }

}
@media (max-width: 780px) {
    .hero h2 {
        font-size: 2.5rem;
    }

    .about .about-content .text {
        padding: 0.5em;
    }
}
@media (max-width: 780px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        width: 100%;
        padding: 0;
    }

    .navbar ul li {
        margin: 0.5em 0;
    }

    .hero h2 {
        font-size: 1.8rem;
    }

    .game-card img, .product-card img {
        max-width: 100px;
    }


}



.topnav {
    background: linear-gradient(to right,#181a35ad, #1a1a1be9, #181a35ad);
    overflow: hidden;
    font-family:  'Cinzel', sans-serif;
 letter-spacing: 4px;    
 
}
  
  .topnav a {
    float: left;
    display: none;
    background: linear-gradient(to right,#181a35ad, #1a1a1be9, #181a35ad);
    color: #f2f2f2;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 15px;

  }

  .active {
    background-color: #04aa6d00;
    color: white;
  }
  

  .topnav .icon {
    display: none;
text-align: center;
letter-spacing: 4px;
color: white;
background: #4971ce00;
padding:0;
width: 110px;
  }
  .topnav .icon p{
    font-size: 14px;
    color:#cbe3ffbf;
    font-family: 'Cinzel', sans-serif;
    font-weight: 400;
  }
  

  .dropdown-mobile {
    float: center;
    background: linear-gradient(to right,#181a35ad, #1a1a1be9, #181a35ad);
    overflow: hidden;
  }
  

  .dropdown-mobile .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 4px;   
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: none;
  }
  

  .dropdown-mobile-content {
    display: none;
    position: absolute;
    
    /* 4971ce */
    background-color: #0c0e1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-mobile-content a {
    float: none;
    color: rgb(245, 250, 255);
    font-size: 17px;
    font-weight: 100;
    font-family:  'Titiillium Web', sans-serif;
    letter-spacing: 1px;   
    text-decoration: none;
    display: block;
    text-align: center;
  }
  

  .topnav a:hover, .dropdown-mobile:hover .dropbtn {
    background-color: #4971ce;
    color: white;
  }
  

  .dropdown-mobile-content a:hover {

    background-color: #4971ce;
    color: black;
  }
  
  .dropdown-mobile:hover .dropdown-mobile-content {
    display: block;
  }
  
  .header-mobile{
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 100;
    transition: background-color 0.3s ease; 
  }

  .socials-mobile a{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-link-mobile {
    border: 1px solid #4971ce;
background-color:#ffffff00;
    color: #fbfdffbf;
    cursor: pointer;
    text-align: center;

    border-radius: 100%; 
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    text-decoration: none; 

}

.topnav .logo {
    position: absolute;
  
    padding-top: 12px;
    padding-left: 15px;
}
.topnav .logo .img{
    display: none;
    max-width:200px;
    max-height: auto;
}
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 780px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 780px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      background: #4971ce;
      right: 0;
      top: 0;
    }
    .header{
        display: none;
    }
    .topnav .logo .img{
        display: flex;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .topnav.responsive .dropdown-mobile {float: none;}
    .topnav.responsive .dropdown-mobile-content {position: relative;}
    .topnav.responsive .dropdown-mobile .dropbtn {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .topnav .socials-mobile .social-link-mobile  {
    font-size: 15px;   
padding: 0%;
width: 30px;
height: 30px;  

}
.topnav .socials-mobile .social-link-mobile i {
align-content: center;
width: 30px;
height: 30px;
margin-left: 2px;
}